<div class="db-filters-section form-horizontal" id="db-filters-sections">
  {% for display, value in filters %}
    <div class="form-group">
      <div class="col-xs-12">
        <div class="checkbox">
          <label class="filter-display">
            <input type="checkbox" value="{{ value }}" data-filter="category" data-init-checked="0">{{ display }}
          </label>
        </div>
      </div>
    </div>
  {% endfor %}
  <hr>
</div>
